*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: norse;
    src: url(Norse-Bold\(1\).otf);
}
body{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    height: 100vh;
    display: flex;
}
.logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    margin-top: 300px;
    color: white;
    gap: 20px;
    background-color: rgba(73, 73, 73, 0.382);
    font-family: norse;
    font-size: 30px;
}
#logo{
    width: 70px;
    height: auto;
}
.bannerimg img{
    width: 30vw;
    height: 100vh;
}
.form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;

}
.headings{
    padding-left: 100px;
    font-size: 24px;
    font-weight: 500;
    padding-right: 300px;
}
.p2{
    margin-top: 20px;
}
fieldset{
    padding: 10px;
    border: none;
    box-shadow: 0 2px 5px 1px rgba(73, 73, 73, 0.382);
    height: 35vh;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    flex-wrap: wrap;
    align-items: flex-start;
}
h3{
    padding-left: 100px;
}

.inputs{
    text-transform: uppercase;
    display: flex;
    gap: 150px;
}
.form2 div{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}
.form1 div{
padding-left: 100px;
display: flex;
margin-bottom: 20px;
flex-direction: column;
}
.inputs input{
    padding-left: 5px;
    height: 30px;
    border: 1px solid rgba(168, 168, 168, 0.5);
    border-radius: 3px;
}

#nice{
    margin-top: 60px;
}
label{
    opacity: 0.8;
}
.bttn{
    margin-top: 30px;
    padding-left: 100px;
}
.bttn p{
    margin-top: 10px;
}
#btn{
    margin-top: 10px;
    color: white;
    font-size: 16px;
    padding: 10px 14px;
    border: none;
    background-color: rgb(210, 0, 91);
    box-shadow: 0 0 4px 1px rgb(153, 153, 153);
    border-radius: 7px;
    cursor: pointer;
}
input:focus{
    outline: none;
    border-color: rgb(47, 47, 255);
    
}
input:focus:invalid{
    outline: none;
    border-color: rgb(255, 0, 0);
    background-color: rgba(252, 0, 0, 0.106) ;

}
input:valid{
    background-color: rgba(43, 255, 43, 0.106) ;
}